# Ignore virtual environments
venv/
.env

# Bytecode and system files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.DS_Store

# Build artifacts
uploads/
static/
output/
temp/

# Service account key
firebase/serviceAccountKey.json
